html {
    height: 100vh;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    overflow: hidden;
}

/*----------------------------아래는 로딩 이미지 css입니다.----------------------*/

#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 9999; /* 화면 최상단에 표시되도록 설정 */
}

#loading-cover {
    display: flex;
    width: 240px;
    flex-direction: row;
    margin-bottom: 15px;
    justify-content: center;
}

.loading-dot {
    width: 20px;
    height: 20px;
    background-color: #3498db;
    border-radius: 50%;
    animation: bounce 0.5s alternate infinite ease-in-out;
    margin: 0 8px; /* 점 사이의 간격 조절 */
}

.loading-dot:nth-child(2) {
    animation-delay: 0.2s;
}
.loading-dot:nth-child(3) {
    animation-delay: 0.4s;
}
.loading-dot:nth-child(4) {
    animation-delay: 0.6s;
}
.loading-dot:nth-child(5) {
    animation-delay: 0.8s;
}

@keyframes bounce {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(2px);
    }
    100%{
        transform: translateY(20px);
    }
}

.loadingText {
    font-size: 1em;
    color: #333;
}

/*------------------------로딩 끝----------------------------*/

.left-nav{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    width: 100px;
    background-color: #333;
    z-index: 10000;
}

.left-nav .line {
    flex: 1;
    width: 1px;
    overflow: auto;
    background-color: white;
}

.left-nav .dot-container {
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    height: 160px;
}

.left-nav .dot-container .dots {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dots .dot {
    width: 5px;
    height: 5px;
    background: rgba(255, 255, 255, 0) ;
    border-width: 1px;
    border-style: solid;
    border-color: white;
    border-radius: 100%;
}

.dots .now-index {
    transform: scale(2);
    background: white;
}

.main {
    position: relative;
    top: 0;
    width: 100%;
    height: 100%;
    transition: all 1s;
}

section {
    width: 100%;
    height: 100%;
}

.main .A {
    background-color: antiquewhite;
}

.main .B {
    background-color: aquamarine;
}

.main .C {
    background-color: bisque;
}

.main .D {
    background-color: blanchedalmond;
}

.main .E {
    background-color: beige;
}